       body {
            min-height: 100vh;
            display: flex;
            background-color: #f0f2f5;
        }
        
        /* SIDEBAR */
        .sidebar {
            width: 250px;
            background-color: #fdeddc;
            color: #0a0a0a;
            flex-shrink: 0;
            transition: width 0.3s ease;
            border-right: 1px solid #e3e6ee;
            box-shadow: 2px 0 8px rgba(0,0,0,0.05);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .sidebar.collapsed {
            width: 80px;
        }
        .sidebar-header {
            padding: 25px 15px;
            text-align: center;
        }
         .sidebar .user-title {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 2px;
        }
        .sidebar .user-subtitle {
            font-size: 12px;
            color: #6c757d;
        }
       
        .sidebar .nav-link {
            color: black;
            padding: 15px 20px;
            border-radius: 8px;
            margin: 5px 10px;
            /* transition: background 0.2s; */
        }
        .sidebar .nav-link.active {
            background: rgba(255, 255, 255, 0.2);
            color: #0a0a0a;
            border-left: 4px solid #ffffff;
        }
        .sidebar .nav-link:hover {
            background: rgba(212, 231, 102, 0.15);
            color: #421503;
        }
        .sidebar .nav-link i {
            margin-right: 12px;
        }

        /* MAIN AREA */
        .main-content {
            flex-grow: 1;
            padding: 20px;
        }

        /* TOPBAR */
        .topbar {
            height: 70px;
             background-color: #fff7ee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            border-radius: 8px;
            color: #0a0a0a;
            margin-bottom: 20px;
        }

        /* CARDS */
        .card-action {
            cursor: pointer;
            transition: transform 0.3s, box-shadow 0.3s;
            border-radius: 20px;
            border: none;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(5px);
        }
        .card-action:hover {
            transform: translateY(-6px);
            box-shadow: 0 12px 24px rgba(0,0,0,0.15);
        }
        .icon-circle {
            background: rgba(0,0,0,0.05);
            border-radius: 50%;
            padding: 15px;
            margin-right: 20px;
        }

        /* COLLAPSE ICON HIDE TEXT */
        .sidebar.collapsed .nav-link span {
            display: none;
        }
        .sidebar.collapsed .nav-link i {
            margin: 0;
        }
   
   
